.cards {
  padding: 20px 0 36px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  margin: 0 auto;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 280px);
    top: 360px;
    left: 16px;
    padding: 0px 0px 20px 0px;
    gap: 20px;
    border: 0px 0px 1px 0px;
    margin-top: 20px;
  }
}
