.header {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

.header__logo {
  width: 94px;
  height: 26px;
}

@media screen and (max-width: 627px) {
  .header {
    width: Fixed (320px) px;
    height: Hug (46px) px;
    padding: 10px 80px 10px 80px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    justify: space-between;
    opacity: 0px;
  }
}
