.modal {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:
    204px,
    355px 203px 355px;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 33px 50px 46px 50px;
  z-index: 9999;
  position: relative;
}

.modal__container_type_preview {
  padding: 0;
  background-color: transparent;
  border-radius: 8px;
  padding: unset;
  height: unset;
  width: unset;
  max-width: unset;
}

.modal__caption {
  display: inline-block;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  background: #212121;
  color: white;
  margin-bottom: 0;
  margin-top: 8px;
  padding: 4px 8px;
  border-radius: 8px;
}

.modal__image {
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  height: auto;
  object-fit: contain;
  margin: auto;
  display: block;
}

.modal__close-btn {
  background-image: url(../images/Close\ Icon.png);
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  background-position: center;
  object-fit: contain;
  padding: 0;
  top: 31px;
  right: 49px;
  width: 22.63px;
  height: 22.63px;
  color: rgba(33, 33, 33, 1);
  cursor: pointer;
  border: none;
  opacity: 40%;
}

.modal__close-btn_type_preview {
  background-image: url("../images/close-light.svg");
  cursor: pointer;
  left: calc(100% + 7px);
  top: 0;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.7;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  height: 32px;
  width: 169px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.modal__input {
  padding: 16px 12px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__input:hover {
  color: rgba(33, 33, 33, 1);
  opacity: 1;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 8px;
  height: 52px;
  color: rgba(252, 245, 229, 1);
  background-color: rgba(33, 33, 33, 1);
  cursor: pointer;
}

@media screen and (max-width: 745px) {
  .modal {
    padding-left: 10px;
    padding-right: 10px;
  }

@media screen and (max-width: 627px) {

  .modal__container {
    padding: 12px 12px 12px 12px;
  }

  .modal__title {
    height: 20px;
    gap: 0px;
    font-size: 20px;
    margin-bottom: 24px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
    cursor: pointer;
  }

  .modal__close-btn_type_preview {
    top: -36px;
    right: 4px;
    left: auto;
  }

  .modal__input {
    cursor: pointer;
    font-size: 16px;
  }

  .modal__label {
    margin-bottom: 24px;
    height: 74px;
  }

  .modal__submit-btn {
    width: 100%;
    text-align: center;
    height: 52px;
    padding: 18px 32px 18px 32px;
    gap: 8px;
    radius: 8px;
    opacity: 1;
    cursor: pointer;
  }

  .modal__image {
    width: 100%;
    border-radius: 4px;
  }

  .modal__caption {
    font-size: 16px;
    line-height: 19.2px;
  }
}

@media screen and (max-width: 360px) {
  .modal__image {
    max-width: 288px;
  }
}
