.page {
  background-color: #fcf5e5;
  min-height: 100vh;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 20px;
}

@media screen and (max-width: 627px) {
  .page__section {
    width: Fixed (288px) px;
    height: Hug (274px) px;
    top: 66px;
    left: 16px;
    padding: 0px 0px 20px 0px;
    gap: 32px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
  }
}
