.page {
  background-color: #fcf5e5;
  min-height: 100vh;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 24px;
}

@media screen and (max-width: 627px) {
  .page__section {
    padding: 0px 0px 20px 0px;
    gap: 32px;
    opacity: 1;
    max-width: 100%;
  }
}
